@CHARSET "ISO-8859-1";

/*.panel-heading .chevron:after {
    content: "\f078";   
}
.panel-heading.collapsed .chevron:after {
    content: "\f054"; 
} */ 

.inner_wdl_tab{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color:#da8d25;
	border-style: 
}

.inner_wdl_tab >tr {
	border-color: #aaaaaa;
	border-width: 2;
/*border-top: thin;
border-bottom: thin;
border-top-width: 2;
border-color: red;
border-bottom-width: 2;*/
}

.inner_wdl_tab >tbody tr:nth-child(1){
	background-color:#429387;
	font-family: monospace;
	font-size: 14pt;
	font-style: italic;
	font-weight: 500;
}
.inner_wdl_tab >tbody tr:nth-child(2){
	background-color:lightblue;
	font-size: 16pt;
	font-weight: 100;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	align-content: center;
}

.mplBox{
background: #d0dc8f;
/*background: url('../../../../../Pictures/backgroungPictures/_s_a46b46c1EAd1EAe0f0g64h020004FFFFD9E7E7D6iB9j1Ek32l1F4m1F4.png')
*/	
}

.mplBox > thead {
	border-bottom-color: #151bea;
}

.mplBox  > thead td{
	font-weight: bold;
	font-family: "verdana";
	background-color:#da8d25;
	height: 20pt;
}

#div1 > table{
	border:0;
}